<div class="inner cover">
  <h1 class="cover-heading">IDA CoE Agile Training</h1>
  <p class="lead">What you will learn today?</p>
  <p class="lead">
    Test Driven Development (TDD)<br>
    Pairing Programming<br>
    Version Control using GIT<br>
    Code Review (Pull Request)<br>
    Continuous Integration (CI) using Bamboo<br>
  </p>
</div>